html {
  margin: 0px;
  font-family: "trajan-color", serif;
  font-style: normal;
  font-weight: 400;
  width: 100vw;
}

body {
  margin: 0px;
  width: 100vw;
  overflow-x: hidden;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  position: fixed;
  display: flex;
  flex-direction: row;
  background: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 110px;
  z-index: 1;
  justify-content: space-around;
}

.header > a > h2 {
  margin-top: 40px;
  margin-right: 40px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 30px;
}

.header > a > img {
  width: 93px;
  border: none;
}

h2 {
  font-size: 30px;
  color: white;
}

.jarallax {
    background-size: auto;
    background-size: cover;
    background-repeat: no-repeat;
    height: 790px;
    width: 100vw;
    z-index: 2;
}

.black-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  width: 100vw;
  z-index: 2;
}

.black-box > img {
  width: 80%;
  margin-bottom: 20px;
  border: none;
}

.black-box > h2{
  color: white;
  font-size: 60px;
  margin: 0px;
  font-family: '1 Vivaldi  Bold', serif;
}

.black-box > h1 {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 50px;
  margin-top: 42px;
  margin-bottom: 10px;
  width: 90vw;
  padding-top: 30px;
  padding-bottom: 20px;
  border-top: white solid;
  border-bottom: white solid;
}

.warp {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  background-color: black;
  margin-top: 40px;
  -webkit-box-shadow: 0px 16px 53px 30px rgba(0,0,0,1);
  -moz-box-shadow: 0px 16px 53px 30px rgba(0,0,0,1);
  box-shadow: 0px 16px 53px 30px rgba(0,0,0,1);
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 40px 0px 40px;
}

.box > img {
  width: 235px;
  height: 235px;
}

.background {
  background-image: url("../img/background3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 100vw;
}

.blure {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 50px;
  background-color: black;
  -webkit-box-shadow: 0px 0px 53px 30px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 53px 30px rgba(0,0,0,1);
  box-shadow: 0px 0px 53px 30px rgba(0,0,0,1);

}

p {
  color: #95989A;
  font-family: sans-serif;
}

.seasons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width: 90vw;
  background-color: #292828;
  border: #95989A solid;
  border-width: 5px;
  border-radius: 10px;
  margin-top: 10px;
}

.seasons > a {
  margin-top: 10px;
}

.season1 {

}

.season2 {

}

.season3 {

}

.season4 {

}

.box2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 40px 0px 40px;
}

.box2 > img {
  width: 400px;
  height: 235px;
}

img {
  border: #95989A solid;
  border-width: 5px;
  border-radius: 10px;
}

.blue {
  color: #2DABFF;
}

.remove {
  display: none;
}

.article {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;
  font-size: 20px;
}

.article-float {
  text-align: left;
  font-size: 20px;
}

.temp > img {
  float: left;
  width: 300px;
  height: 430px;
  margin: 10px 40px 10px 100px;
}

.top > p {
  margin: 30px 100px 30px 100px;
}

.middel > p {
  margin: 30px 100px 30px 100px;
}

.temp2 > img {
  float: right;
  height: 400px;
  margin: 30px 100px 10px 40px;
}

.bottom > p {
  margin: 30px 100px 30px 100px;
}
